@import url(https://fonts.googleapis.com/css?family=Poppins);
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

.total-container {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.total-item {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    margin: 11px;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    border-radius: 10px;
}

.table-container {
    margin-left: 35px;
    border: 1px solid black;
    width: 875px;
    height: 600px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: inline-block; vertical-align: top;
}

.table-container1 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.audit-container {
    margin-left: 5px;
    border: 1px solid black;
    width: 875px;
    height: 600px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: inline-block; vertical-align: top;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-materials{
    width: 90%;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.th-med{
    border-top-left-radius: 10px;
}
.th_med{
    border-top-right-radius: 10px;
}

th {
    background-color: #FFD041;
}

tr {
    background-color: #ffffff;
}


.add-button {
    background-color: #023047;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #FFD041;
    color: black;
}

.add-container1 {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
}

.add-buttons {
    background-color: #023047;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.add-buttons:hover {
    background-color: #FFD041;
    color: black;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    box-sizing: border-box;
}

.add-container {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
}

.add-button1 {
    background-color: #023047;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.add-button1:hover {
    background-color: #FFD041;
    color: black;
}

.add-buttons {
    background-color: #023047;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.add-buttons:hover {
    background-color: #FFD041;
    color: black;
}

.add-button2 {
    background-color: #023047;
    color: white;
    padding: 6px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.add-button2:hover {
    background-color: #FFD041;
    color: black;
}

.btn-delete-materials{
    background-color: #023047;
    color: white;
    padding: 6px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.btn-delete-materials:hover {
    background-color: #FFD041;
    color: black;
}

.delete-btn {
    background-color: #023047;
    color: white;
    padding: 6px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.delete-btn:hover {
    background-color: #FFD041;
    color: black;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.modal1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

/* Overlay Styles */
#overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 2; /* Ensure it's above other elements */
}

.card--container3{
    background: #fff;
    padding: 2rem;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
.title-card{
    margin-left: 1%;
    font-size: 12px;
    padding: 10px;
    }
.table-row{
    display: table;
    width: 95%;
    margin: 2px auto;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
    font-weight: bold;
    border-radius: 10px;
    }
.table-head{
    background: #FFD041;
    box-shadow: none;
    color: #000000;
    font-weight: 600;
    }
.table-head .table-cell{
    border-right: none;
    }
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
    }
.first-cell{
    text-align: left;
    padding-left: 10px;
    }
.last-cell{
    border-right: none;
    }
a{
    text-decoration: none;
    color: #555;
    }
    
    .header-container1{
    margin-bottom: 30px;
    }

    .inline-form input {
        display: inline-block;
        margin-right: 10px; /* Adjust the spacing between elements */
    }
    
    .inline-form input[type="submit"] {
        display: inline-block;
        margin-right: 0; /* Reset the right margin for the submit button */
    }  

    .pagination-container {
        margin-top: 20px;
        text-align: center;
    }
    
    .pagination {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .pagination li {
        display: inline;
        margin: 0 5px;
    }
    
    .pagination a {
        color: #023047;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #023047;
        border-radius: 3px;
    }
    
    .pagination a:hover {
        background-color: #023047;
        color: #fff;
    }
    